/**
 * PIE Extensions Styles
 *
 * Styles for PIE-specific MathQuill extensions
 */

/* LRN Exponent Styles */
.mq-lrnplaceholder {
  display: inline-block;
  position: relative;
}

.mq-lrnexponent {
  display: inline-block;
  position: relative;
}

.mq-lrnexponent .mq-sup {
  font-size: 0.75em;
  vertical-align: super;
}

.mq-lrnexponent .mq-sub {
  font-size: 0.75em;
  vertical-align: sub;
}

/* Basic Matrix Styles */
.mq-matrix {
  display: inline-block;
  vertical-align: middle;
}

.mq-matrix table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0.1em 0;
}

.mq-matrix td {
  padding: 0.2em 0.4em;
  text-align: center;
  vertical-align: middle;
}

.mq-matrix .mq-paren {
  font-size: 1.2em;
  vertical-align: middle;
}

.mq-matrix .mq-scaled {
  display: inline-block;
  transform-origin: center;
}
