/* Source baseline: https://global-pr-ibvcustomfiles.renaissance-go.com/learnosity/sel_r1-_gplusggg/0.0.1/question.css */
.mc-populated-blank-root.variant-sel-r1-gplusggg {
  font-family: Starial, Arial, sans-serif;
  --mpb-listen-button-size: 128px;
  --mpb-choice-width-px: 155px;
  --mpb-choice-tile-min-height: 11.25rem;
  --mpb-choice-content-min-height: 9.375rem;
}

.mc-populated-blank-root.variant-sel-r1-gplusggg .pie-audio-transcript {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.mc-populated-blank-root.variant-sel-r1-gplusggg .pie-choice-label {
  font-size: 1.9em;
  line-height: 89px;
}
